# Copia este archivo como .env y completa la contraseña
DB_SERVER=siesa-m6-sqlsw-carnessantacruz.cu94u26q0284.us-east-1.rds.amazonaws.com
DB_PORT=1433
DB_NAME=UnoEE_Carnesantacruz_Real
DB_USER=Carnesantacruz
DB_PASSWORD=
DB_DRIVER=ODBC Driver 17 for SQL Server
